.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto 1rem auto;
  padding: 3%;
}

.chatInput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chatInputTextbox {
  width: 100%;
}

.chatUploadButton {
  width: 100%;
  height: 100%;
}
