.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5vh auto;
}

.logo-container {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
}

.logo {
  height: 4vh;
  width: 4vh;
}

.inner {
  grid-row-start: 2;
  grid-column-start: 1;
}
